@import "./ranglar";
@import "./media";
nav {
  height: 70px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  background: $light;
  .logo {
    font-size: 25px;
    margin-left: 20px;
  }
  .toggle {
    opacity: 0;
  }
  ul {
    display: flex;
    list-style: none;

    li {
      a {
        text-decoration: none;
        color: $dark;
        padding: 0 10px;
      }
      .btn {
        @extend %btn;
        margin-right: 20px;
      }
    }
  }

  @include phone {
    ul {
      display: none;
    }
    .toggle {
      cursor: pointer;
      opacity: 1;
      margin-right: 25px;

      &:hover {
        color: $blue;
        font-size: 20px;
      }
    }
  }
}
