* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

@import "./navbar";

%btn {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background: $blue;
  color: $light;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  h3,
  p {
    padding: 10px 0;
  }

  .cars {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .cars img {
    width: 150px;
    cursor: pointer;
    transition: 0.4s;
  }
  .cars img:hover {
    transform: scale(1.2);
  }
  .btn {
    @extend %btn;
  }

  @include phone {
    display: grid;
    grid-template-columns: 1fr;
    .heroLeft {
      width: 100%;
      margin-left: 20px;
    }
    .heroRight img {
      width: 100%;
    }
  }
}
